# PyCity Schools Analysis

In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

#Load file
school_file = Path("Resources/schools_complete.csv")
student_file= Path("Resources/students_complete.csv")

#Read School and Student Data File and store into Pandas DataFrames
school_data= pd.read_csv(school_file)
student_data= pd.read_csv(student_file)

#Combine the data into a single dataset.
complete_data_df= pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_data_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
complete_data_df.to_csv('Resources/complete_data_df.csv', index=False)

## DISTRICT SUMMARY

In [3]:
#Total numner of unique schools
school_count = complete_data_df['school_name'].nunique()
school_count

15

In [4]:
#Total number of students
student_count = complete_data_df['student_name'].count()
student_count

39170

In [5]:
#Total budget number
total_budget = school_data['budget'].sum()
total_budget

24649428

In [6]:
#Average math score
average_math_score = complete_data_df['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
#Average reading score
average_reading_score = complete_data_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
#Percentage of students who passed math(math scores greater than or equal to 70)
passing_math_count= complete_data_df[(complete_data_df["math_score"] >=70)].count()["student_name"]
passing_math_percentage = passing_math_count/student_count*100
print(passing_math_percentage)

74.9808526933878

In [9]:
#Percentage of students who passed reading
passing_reading_count = complete_data_df[(complete_data_df["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/student_count*100
print(passing_reading_percentage)

85.80546336482001

In [10]:
#Percentage of students that passed math and reading
passing_math_reading_count = complete_data_df[
    (complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >=70)
].count()["student_name"]
overall_passing_percentage = passing_math_reading_count/float(student_count)*100
overall_passing_percentage

65.17232575950983

In [11]:
#High-level snapshot of the district's key metrics in a a Dataframe
district_summary = district_summary_df = pd.DataFrame({
    'Total Schools': [school_count],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_percentage]
})
district_summary["Total Students"] = district_summary['Total Students'].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [12]:
#Use the Provided code to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [13]:
# Calculate the total student count per school from school data
per_school_count= complete_data_df["school_name"].value_counts()

In [14]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = complete_data_df.groupby(["school_name"])["budget"].mean()

In [15]:
#Calculate per capita spending per school
per_school_capita= per_school_budget/per_school_count

In [16]:
## Calculate the average test scores per school from complete_data_df
per_school_math = complete_data_df.groupby(["school_name"])["math_score"].mean()
per_school_reading = complete_data_df.groupby(["school_name"])["reading_score"].mean()

In [17]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =complete_data_df.loc[(complete_data_df["math_score"] >= 70)]
students_passing_reading =complete_data_df.loc[(complete_data_df["reading_score"] >= 70)]

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_data_df[
    (complete_data_df["reading_score"] >= 70) & (complete_data_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [19]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math / per_school_count * 100
per_school_passing_reading = students_passing_reading / per_school_count * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_count * 100

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary= pd.DataFrame({
      "School Type": [school_types],
      "Total Students": [per_school_count],
      "Total School Budget": [per_school_budget],
      "Per Student Budget": [per_school_capita],
      "Average Math Score": [per_school_math],
      "Average Reading Score": [per_school_reading],
      "% Passing Math": [per_school_passing_math],
      "% Passing Reading": [per_school_passing_reading],
      "% Overall Passing": [overall_passing_percentage]})

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 4976 John...,school_name Bailey High School 3124928.0...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School Cabrera High School...,Bailey High School Cabrera High School...,65.172326

In [21]:
#for column in per_school_summary:
    #print(per_school_summary['School Name'])

## Highest-Performing Schools (by % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 4976 John...,school_name Bailey High School 3124928.0...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School Cabrera High School...,Bailey High School Cabrera High School...,65.172326

## Bottom Performing Schools (By % Overall Passing)

In [23]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["% Overall Passing"],ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 4976 John...,school_name Bailey High School 3124928.0...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School Cabrera High School...,Bailey High School Cabrera High School...,65.172326

## Math Scores by Grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = complete_data_df[(complete_data_df["grade"] == "9th")]
tenth_graders = complete_data_df[(complete_data_df["grade"] == "10th")]
eleventh_graders = complete_data_df[(complete_data_df["grade"] == "11th")]
twelfth_graders = complete_data_df[(complete_data_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": [ninth_grade_math_scores],
                                      "10th": [tenth_grader_math_scores],
                                      "11th": [eleventh_grader_math_scores],
                                      "12th": [twelfth_grader_math_scores]
})
math_scores_by_grade

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...

## Reading Score by Grade

In [25]:
# Use the code provided to separate the data by grade
ninth_graders = complete_data_df[(complete_data_df["grade"] == "9th")]
tenth_graders = complete_data_df[(complete_data_df["grade"] == "10th")]
eleventh_graders = complete_data_df[(complete_data_df["grade"] == "11th")]
twelfth_graders = complete_data_df[(complete_data_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": [ninth_grade_reading_scores],
                                      "10th": [tenth_grader_reading_scores],
                                      "11th": [eleventh_grader_reading_scores],
                                      "12th": [twelfth_grader_reading_scores]
})
reading_scores_by_grade

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 81.303155...,school_name Bailey High School 80.907183...,school_name Bailey High School 80.945643...,school_name Bailey High School 80.912451...

## Scores by School Spending

In [26]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [27]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [28]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_budget, spending_bins, labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
0,school_name Huang High School District ...,school_name Bailey High School 4976 John...,school_name Bailey High School 3124928.0...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School Cabrera High School...,Bailey High School Cabrera High School...,65.172326,NaN

In [29]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
#overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

C:\Users\NECEE\AppData\Local\Temp\ipykernel_16196\472654042.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\NECEE\AppData\Local\Temp\ipykernel_16196\472654042.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\NECEE\AppData\Local\Temp\ipykernel_16196\472654042.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\NECEE\AppData\Local\Temp\ipykernel_16196\472654042.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\NECEE\AppData\Local\Temp\ipykernel_16196\472654042.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [30]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores,
                                 "Average_reading_score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing": overall_passing_spending
})
spending_summary

,Average Math Score,Average_reading_score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,NaN,NaN,NaN,NaN,NaN
$585-630,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN

## Scores by School Size

In [31]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [32]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
school_size= complete_data_df.groupby("size_bins")
per_school_summary["School Size"] = pd.cut(complete_data_df["size"], size_bins, labels=labels)
per_school_summary

KeyError: 'size_bins'

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()