In [191]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [192]:
school_file = Path("Resources/schools_complete.csv")
student_file= Path("Resources/students_complete.csv")

In [193]:
school_data_df= pd.read_csv(school_file)
student_data_df= pd.read_csv(student_file)
school_data_df.head()
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [194]:
copy_school_sum=school_data_df.copy()
copy_student_sum=student_data_df.copy()

In [195]:
complete_data_df= pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
complete_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## DISTRICT SUMMARY

In [196]:
#Total numner of unique schools
school_count = complete_data_df['school_name'].nunique()
school_count

15

In [197]:
#Total number of students
student_count = complete_data_df['student_name'].count()
student_count

39170

In [198]:
#Total budget number
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [199]:
#Average math score
average_math_score = complete_data_df['math_score'].mean()
average_math_score

78.98537145774827

In [200]:
#Average reading score
average_reading_score = complete_data_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [201]:
#Percentage of students who passed math(math scores greater than or equal to 70)
passing_math_count= complete_data_df[(complete_data_df["math_score"] >=70)].count()["student_name"]
passing_math_percentage = passing_math_count/student_count*100
print(passing_math_percentage)

74.9808526933878

In [202]:
#Percentage of students who passed reading
passing_reading_count = complete_data_df[(complete_data_df["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/student_count*100
print(passing_reading_percentage)

85.80546336482001

In [203]:
#Percentage of students that passed math and reading
passing_math_reading_count = complete_data_df[
    (complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >=70)
].count()["student_name"]
overall_passing_percentage = passing_math_reading_count/float(student_count)*100
overall_passing_percentage

65.17232575950983

In [204]:
#High-level snapshot of the district's key metrics in a a Dataframe
district_summary = district_summary_df = pd.DataFrame({
    'Total Schools': [school_count],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_percentage]
})
district_summary["Total Students"] = district_summary['Total Students'].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [205]:
per_school_count = school_data_df["school_name"].value_counts()

In [206]:
# Provided code to select the type per school from school_data
school_types = school_data_df.set_index(["school_name"])["type"]

In [207]:
# Calculate the total student count per school.
#per_student_count = complete_data_df['school_name'].value_counts()
per_student_count = school_data_df.set_index(["school_name"])["size"]

In [208]:
# Calculate the total school budget and per capita spending per school from school_data
#per_school_budget = school_data_df.groupby(["school_name"])["budget"].mean()
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
#Calculate per capita spending per school
per_school_capita= per_school_budget/per_school_count

In [209]:
# Calculate the average test scores per school from school_data
per_school_math = complete_data_df.groupby(["school_name"])["math_score"].mean()

In [210]:
#calaculate per school reading
per_school_reading = complete_data_df.groupby(["school_name"])["reading_score"].mean()

In [211]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =complete_data_df[(complete_data_df["math_score"] >= 70)]

In [212]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = complete_data_df[(complete_data_df["reading_score"] >= 70)]

In [213]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_data_df[
    (complete_data_df["reading_score"] >= 70) & (complete_data_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [214]:
#Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math / per_school_count * 100
per_school_passing_reading = students_passing_reading / per_school_count * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_count * 100

In [215]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary= pd.DataFrame({
    "School Type": [school_types],
    "Total Students": [per_school_count],
    "Total School Budget": [per_school_budget],
    "Per Student Budget": [per_school_capita],
    "Average Math Score": [per_school_math],
    "Average Reading Score": [per_school_reading],
    "% Passing Math": [per_school_passing_math],
    "% Passing Reading": [per_school_passing_reading],
    "% Overall Passing": [overall_passing_percentage]
})
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Huang High School 1 Figuero...,school_name Huang High School 1910635 F...,school_name Huang High School 1910635.0...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School Cabrera High School...,Bailey High School Cabrera High School...,65.172326

In [216]:
# Formatting
#per_school_summary["Total School Budget"] =per_school_summary["Total School Budget"]
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].apply(lambda x:'${:,.2f}'.format(x))
per_school_summary["Total School Budget"] =per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

TypeError: unsupported format string passed to Series.__format__